.custom-input-wrapper {
    & .custom-input-form-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        & * {
            flex: 0 0 60%;
        }

        & label {
            flex: 0 0 30%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.custom-input-side-wrapper {
    & .custom-input-form-container {
        & * {
            flex: 0 0 100%;
        }

        & label {
            flex: 0 0 100%;
            margin-bottom: 10px;
        }
    }
}